body {
	margin: 40px;
	font-family: 'Helvetica', sans-serif;
	font-weight: bold;
	font-size: 22px;
	letter-spacing: -1;
}
.content {
	max-width: 550px;
	margin: auto;
}

#info {
	margin-top: 30px;
}

#info .player {
	float: left;
	color: maroon;
}
#info .player.b {
	color: #333;
	float: right;
	text-align: right;
}
#info .name {
	font-size: 34px;
	letter-spacing: -2;
}


#dice {
	position: absolute;
	top: 50%;
	right: 0;
	left: 50%;
	z-index: 3;
	text-align: center;
}
#dice div {
	display: inline-block;
	width: 30px;
	height: 30px;
	color: white;
	border-radius: 5px;
	line-height: 30px;
	position: relative;
	top: -15px;
	background-color: #CF1111;
	border: 1px solid maroon;
	box-shadow: 0 0 20px #666, inset 4px 4px 2px -5px white;
}
#dice div.b {
	background-color: #555;
	border-color: #333;
}
/*#dice div:after {
	font-weight: normal;
	content: "\2685"
}*/


#board {
	width: 100%;
	padding: 0;
	margin: 0;
	position: relative;
	box-shadow: 0 0 35px -5px black;
	background-color: #333;
	box-sizing: border-box;
}
#board:before {
	content: "";
	display: block;
	padding-bottom: 80%;
}
.aspect {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	background-color: #ccc;
	box-shadow: inset 0 0 70px #fff;
}
.tile {
	width: 7.69230769%;
	height: 50%;
	float: right;
	position: relative;
	animation: none;
	text-align: center;
}
.ghost {
	width: 7.69230769%;
	position: absolute;
	animation: none;
}
.ghost .tile {
	margin-bottom: 0;
}
.home {
	width: 7.69230769%;
	height: 40%;
	top: 5%;
	position: absolute;
	right: -10%;
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
	border: 2px dashed #aaa;
	border-radius: 20px;
	box-sizing: border-box;
}
.home.bottom {
	top: 55%;
	-ms-transform: none;
	-o-transform: none;
	-webkit-transform: none;
	-moz-transform: none;
	transform: none;
}
.bar {
	width: 7.69230769%;
	height: 50%;
	float: right;
	position: relative;
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
	animation: none;
	text-align: center;
}
.bar.bottom {
	float: left;
	-ms-transform: none;
	-o-transform: none;
	-webkit-transform: none;
	-moz-transform: none;
	transform: none;
}
.bar:before {
	position: absolute;
	background-color: rgba(0,0,0,0.3);
	top: 0;
	right: 3px;
	bottom: 0;
	left: 3px;
	content: "";
	display: block;
}
.tile.bottom{
	float: left;
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
}
.tile:before {
	position: absolute;
	top: -10%;
	content: "";
	display: block;
	width: 100%;
	padding-bottom: 100%;
	background-color: #333;
	-ms-transform: scale(0.7, 5.5) rotate(45deg);
	-o-transform: scale(0.7, 5.5) rotate(45deg);
	-webkit-transform: scale(0.7, 5.5) rotate(45deg);
	-moz-transform: scale(0.7, 5.5) rotate(45deg);
	transform: scale(0.7, 5.5) rotate(45deg);
	animation: none;
}
.tile.odd:before {
	background-color: maroon;
}
.tile:after,
.bar:after {

}

.tile.dragging {
}
.tile.dragging .checker:last-child {
	display: none;
}
.tile.bottom:before {
	/*top: auto;
	bottom: -9%;*/
}
.tile:hover .checker:last-child {
	/*opacity: 0.7;*/
}
.tile.drag-over:before {
	/*opacity: 0.7;*/
}
.no-drag .tile.available-drag:after,
.drag .tile.available-drop:after,
.drag .home.available-drop:after,
.no-drag .bar.available-drag:after,
.no-drag .tile.odd.available-drag:after,
.drag .tile.odd.available-drop:after
{
	position: relative;
	content: "";
	left:25%;
	display: block;
	width: 0px;
	border: 10px solid rgba(0,0,0,0);
	border-bottom-width: 30px;
	border-bottom-color: white;
}
.drag .home.available-drop:after {
	border-bottom-color: #333;
}
.tile.available-drop.drag-over:before {
	opacity: 0.8;
}
.no-drag .tile.available-drag:after,
.drag .tile.available-drop:after,
.drag .home.available-drop:after,
.no-drag .bar.available-drag:after,
.no-drag .tile.odd.available-drag:after,
.drag .tile.odd.available-drop:after {
	-webkit-animation: highlight 1s infinite;
	-moz-animation: highlight 1s infinite;
	animation: highlight 1s infinite;
}
@-webkit-keyframes highlight {
  0%, 100% {
    bottom: -5%;
  }
  50% {
    bottom: 5%;
  }
}
@-moz-keyframes highlight {
  0%, 100% {
    bottom: -5%;
  }
  50% {
    bottom: 5%;
  }
}
@keyframes highlight {
  0%, 100% {
    bottom: -5%;
  }
  50% {
    bottom: 5%;
  }
}
.checker {
	width: 100%;
	padding-bottom: 100%;
	position: relative;
	margin-bottom: -10px;
}
.checker:before {
	background-color: #CF1111;
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 13%;
	border-radius: 100px;
	border: 1px solid maroon;
	box-shadow: 0 0 5px black, inset 4px 4px 2px -5px white;
}
.stack .checker {
	margin-bottom: -50%;
}
.bar.top .checker:before,
.home.top .checker:before,
.tile.bottom .checker:before {
	box-shadow: 0 0 5px black, inset -4px -4px 2px -5px white;
}
.bar .checker,
.home .checker {
	margin-bottom: -75%;
}
.checker.b:before {
	background-color: #555;
	border-color: #333;
}